<div class="container-fluid d-flex align-items-center justify-content-center" id="home-container">
  <div class="container" id="container-linearization">

    <h1 class="display-4 ff-math text-center"><em>Linealización</em></h1>
    <div id="inputs-in" class="in-in-margin">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-input" id="a-span">a</span>
        </div>
        <input type="number" name="a" id="a" [(ngModel)]="a" (change)="change($event)" class="form-control" placeholder="0 - 1" min='0' max="1">
        <div class="input-group-append">
          <span class="input-group-text span-input" id="b-span">b</span>
        </div>
        <input type="number" name="b" id="b" [(ngModel)]="b" (change)="change($event)" class="form-control" placeholder="0 - 1" min='0' max="1">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-input" id="c-span">c</span>
        </div>
        <input type="number" name="c" id="c" [(ngModel)]="c" (change)="change($event)" class="form-control" placeholder="0 - 1" min='0' max="1">
        <div class="input-group-prepend">
          <span class="input-group-text span-input" id="d-span">d</span>
        </div>
        <input type="number" name="d" id="d" [(ngModel)]="d" (change)="change($event)" class="form-control" placeholder="0 - 1" min='0' max="1">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-input" id="xInit-span">x(0)</span>
        </div>
        <input type="number" name="xInit" id="xInit" [(ngModel)]="xInit" (change)="change($event)" class="form-control" placeholder="0 - 1" min='1'>
        <div class="input-group-prepend">
          <span class="input-group-text span-input" id="yInit-span">y(0)</span>
        </div>
        <input type="number" name="yInit" id="yInit" [(ngModel)]="yInit" (change)="change($event)" class="form-control" placeholder="0 - 1" min='1'>
      </div>

    </div>

    <div id="equation-process" class="">

      <div class="step active" #generalEcuation ></div>
      <div class="step active" #balancePoints ></div>
      <div class="step" #JacobianMatrix ></div>
      <div class="step" #JacobianMatrixSolved ></div>
      <div class="step" #JacobianMatrixSolvedValues ></div>
      <div class="step" #eigenValues ></div>
      <div class="step" #eigenVectors ></div>
      <div class="step" #finalEquation ></div>
      <div class="step" #constantsStep1 ></div>
      <div class="step" #constantsStep2 ></div>
      <div class="step" #constantsStep3 ></div>
      <div class="step" #constantsStep4 ></div>

    </div>

    <div id="buttons" class="d-flex justify-content-center">
      <button type="button" class="btn btn-dark m-1" (click)="backStep()" *ngIf="prevStep">&#60;</button>
      <button type="button" class="btn btn-dark m-1" (click)="allStep()">{{allButtonText}}</button>
      <button type="button" class="btn btn-dark m-1" (click)="nextStep()" *ngIf="moreStep">&#62;</button>
    </div>
    <div id="graph"></div>
    <div id="reloadStatus">



    <div class="input-group">
      <div class="input-group-prepend">
      <span class="input-group-text" id="time">time</span>
    </div>
    <input type="number" name="time" id="time" [(ngModel)]="time" (change)="changeTime($event)" class="form-control" placeholder="time">
      <div class="input-group-append">
        <div class="input-group-text">
          <input type="checkbox" name="cycle" id="cycle" (click)="cycleEvent($event)" hidden>
          <label class="btn" [ngClass]="cycle ? 'btn-dark' : 'btn-outline-dark'" for="cycle">Ciclico</label>
        </div>
      </div>
      <input type="number" name="speedInSeconds" id="speedInSeconds" [(ngModel)]="speedInSeconds" (change)="changeSpeed($event)" class="form-control w-min" placeholder="Velocidad En Segundos" min="0">
      <div class="input-group-append">
        <div class="input-group-text">
          <input type="radio" class="btn-check form-control-sm" name="options-outlined" id="success-outlined" autocomplete="off" value="deg" (click)="degreeRad($event)">
          <label class="btn btn-outline-dark" for="success-outlined">Grados</label>
          <input type="radio" class="btn-check form-control-sm" name="options-outlined" id="danger-outlined" autocomplete="off" value="rad" checked (click)="degreeRad($event)">
          <label class="btn btn-outline-dark" for="danger-outlined">Radianes</label>
        </div>
      </div>

    </div>

  </div>
</div>
