#home-container{
  height: 100vh;
  background-image: url('/assets/images/background.png');
  background-size: 19%;
}

#container-linearization{
  background-color: white;
  height: 98vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  word-wrap: break-word;
  overflow: auto;
}

.span-input{
  width: 44px!important;
}

.inline-block{
  display: inline-block!important;
}
.active{
  display: block!important;
}

.step{
  display: none;
}

.active-steps{
  display: block!important;
}

.input-group-prepend{
  display: contents;
}
.input-group-append{
  display: contents;
}

.w-min{
  max-width: 10%;
}

.ff-math{
  font-family: 'math';
}

.in-in-margin{
  margin-left: 25px;
  margin-right: 25px;
}
