<!-- <nav class="navbar navbar-light bg-light m-0 p-0" id="footer">
  <div class="container-fluid">
    <span class="navbar-text text-white">
      Fundación universtaria Konrad Lorenz
    </span>
    <span class="navbar-text text-white">
      Valeria Mejía <br>
      Michael Velasco
    </span>
  </div>
</nav> -->
<!-- <footer class="text-center text-lg-start mb-5">
  <p class="lead">
    <span class="text-left">Fundación Universitaria Konrad Lorenz.</span>
    <span class="text-center">Fundación Universitaria Konrad Lorenz.</span>
  </p>
</footer> -->

<footer class="user-select-none">
  <div class="float-left d-inline-block ml-15">
    <h5 class="mt-1 mb-0 text-right">Valeria Mejía</h5>
    <h5 class="mt-0 mb-1 text-right">Michael Velasco</h5>
  </div>
  <div class="float-right d-inline-block mr-15">
    <h5 class="align-middle mt-3 ">
      <a href="http://www.konradlorenz.edu.co/es/" class="text-decoration-none text-dark">
        Fundación Universitaria Konrad Lorenz
      </a>
    </h5>
  </div>
  <div class="clearfix"></div>
</footer>
