#home-container{
  height: 100vh;
  background-image: url('/assets/images/background.png');
  background-size: 19%;
}

img{
  width: 25vw;
  -webkit-box-shadow: 0px -5px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -5px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 0px -5px 20px 1px rgba(0,0,0,0.75);
}

.img-inactive{
  filter: grayscale(90%);
  cursor: not-allowed!important;
  user-select: none;
}

@media screen and (max-width: 576px) {
  img{
    width: 50vw;
  }
}

@media screen and (max-width: 768px) and (min-width:576px) {
  img{
    width: 40vw;
  }
}

@media screen and (max-width: 960px) and (min-width:768px) {
  img{
    width: 40vw;
  }
}

@media screen and (max-width: 1200px) and (min-width:960px) {
  img{
    width: 30vw;
  }
}

#image-container{
  height: 62%!important;
}
