<div class="container-fluid align-items-center justify-content-center" id="home-container">
  <app-header></app-header>
  <div class="container-fluid d-flex align-items-center justify-content-center w-100 mt-5 mb-3" id="image-container">
    <div class="row d-flex justify-content-center m-0 p-0">
      <div class="col col-xl-4 d-flex justify-content-center ml-5 mr-5 mt-3 mb-3"
        *ngFor="let model of lisModels; let i = index">
        <div class="d-block text-center">
          <img src="{{model.img}}" class="rounded-circle mb-2 user-select-none cursor-pointer" [ngClass]="!model.active ? 'img-inactive' : ''" alt="" (click)="loadModel(model.route)" />
          <h1 class="user-select-none display-5">{{model.name}}</h1>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
